# Bytecode
*.pyc
__pycache__/

# Packaging/build
build/
dist/
*.egg-info/

# Env
.env

# Data/outputs
core
*.csv
*.h5
*.pickle


# Local outputs
results/
classical_exps/plots/
run_pipeline/objects/shareStim_NN13/**
legacy/
run_pipeline/config/config_legacy/

# Project scripts
classical_exps/save_functions*.py
classical_exps/old_functions_3.py
surroundmodulation/utils/gratings.py
run_pipeline/config/configuration.py
surroundmodulation/analyses.py

# Experiments
experiments_convnext/
experiments_data/convnext/
classical_exps/core/